<div>
    <h1>Listado de productos</h1>

    <ul id="productsList" class="list-group">
        {{#each products}}
            <li class="list-group-item">{{title}} ($ {{price}})</li>
        {{/each}}
    </ul>
</div>

<div class="mt-3">
    <h3>Nuevo producto</h3>

    <form id="productForm">
        <input class="form-control" type="text" id="title" name="title" placeholder="Nombre" style="width: 300px;"><br />
        <input class="form-control" type="number" id="price" name="price" style="width: 100px;"><br />

        <button type="submit" class="btn btn-success">Cargar</button>
    </form>
</div>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
<script>    

    const serverAdress = 'ws://localhost:5000';
    const socketClient = io(serverAdress);

    const productList = document.getElementById('productList')
    const productForm = document.getElementById('productForm');

    socketClient.on('newProduct', (data) => {
        const li = document.createElement('li');
        li.textContent = `${data.title} ($ ${data.price})`;
        li.classList.add('list-group-item');
        productsList.appendChild(li);
    });

    productForm.addEventListener('submit', async (evt) => {
         evt.preventDefault();

         const title = document.getElementById('title').value;
         const price = document.getElementById('price').value;

         const process = await fetch('/api/products', {
             method: 'POST',
             headers: { 'Content-Type': 'application/json' },
             body: JSON.stringify({ title, price })
         });
     });
</script>